body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
}

.calculator {
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: grey;
    padding: 20px;
    margin: 10px;
}

#display {
    width: 300px;
    font-size: 1.5em;
    background-color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 17px;
    margin-top: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button.equal {
    width: 228%;
}